.topContainer{
    display: flex;
    justify-content: center;
    background-color: white;

}

.activityContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.activityContent {
    border: solid black 2px;
    background-color: white;
    width: 500px;
}
.activityContentLBorder{
    border-left: solid #fcddb6 8px;
    padding: 8px;
}
/* .parentActivityContainer{
    width: 100vw;
    height: 100vh;
    overflow: auto;
} */
