.newRoutineForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 62, 148);
    opacity: 0.9;
    border: solid white 2px;
    padding: 8px;
}

.RL1{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
}
.RL2{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
}
.RL3{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    margin-bottom: 10px;
}