.topContainer{
    display: flex;
    justify-content: center;
    background-color: white;

}
.routineContainer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.routineContent{
    border: solid black 2px;
    background-color: white;
    width: 500px;
}
.routineLBorder{
    border-left: solid #fcddb6 8px;
    padding: 8px;
}
